.outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shell {
  height:80%;
  width: 80%;
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 70%;
  width:  70%;
}